:root {
  --color-bg: rgba(255, 255, 255, 0.2);
  --color-text: #22243b;
  --color-accent: #3478f6;
  --color-white: white;
  --color-red: #ff5d5b;
  --color-yellow: #ffbb39;
  --color-green: #00cd4e;
  --color-scrollbar: #aaa7a7;
}

@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff')
    format('woff');
  font-weight: 400;
  font-style: normal;
}

html.dark {
  --color-bg: rgba(0, 0, 0, 0.4);
  --color-text: #fdfffd;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  accent-color: var(--color-accent);
  background-image: url(./components/images/bg-img.png);
  background-position: 0% 70%;
}

#root {
  font-family: 'Pretendard-Regular';
  width: 100%;
  height: 60%;
  max-width: 800px;
  overflow: hidden;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  background-color: var(--color-bg);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul {
  list-style: none;
  padding-left: 0;
}

* {
  box-sizing: border-box;
}

button {
  outline: none;
  border: none;
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-accent);
}
